<!-- views/state1.html -->
<button class="search-button" ng-show="selectedCity" ng-click="clear()"><i class="fa fa-search"></i>New Search</button>
<button id="city" ng-show="selectedCity" ng-click="clearCity()"><i class="fa fa-building"></i>{{ selectedCity[0] }}</button>
<nav>
	<h1 ng-show="!selectedCity">Choose City</h1>
	<h1 ng-show="selectedCity && !selectedHood">Choose Neighborhood</h1>
	<h1 ng-show="selectedHood && !selectedOption">Choose Option</h1>
	<h1 ng-show="selectedHood && selectedOption">Best {{ selectedOption[0] }} in {{ selectedHood[0] }}</h1>
</nav>

<div class="cities" ng-show="!selectedCity">
	<div class="cityTile" ng-repeat="item in cities" ng-click="selectCity( item )" my-background-image="Cities">
		<div class="layer">
			<h1>{{ item[0] }}</h1>
		</div>
	</div>
</div>

<div class="neighborhoods" ng-show="selectedCity && !selectedHood">
	<div class="neighborhoodTile" ng-repeat="item in hoods" ng-click="selectHood( item )" my-background-image="Neighborhoods">
		<div class="layer">
			<h1>{{ item[0] }}</h1>
		</div>
	</div>
</div>

<div>{{ map }}</div>

<div class="options" ng-show="selectedHood && !selectedOption">
	<div class="optionsTile" ng-repeat="item in options" ng-click="selectOption( item )" my-background-image="Food">
		<div class="layer">
			<h1>{{ item[0] }}</h1>
		</div>
	</div>
</div>

<div class="loading-results" ng-show="loading">
	<img ng-src="assets/loading.gif" />
	<h2>Fishing For Answers...</h2>
</div>

<div class="results" ng-show="selectedHood && selectedOption">
	<div id="map-container">
		<div id="map"></div>
	</div>
	<div class="results-container">
		<div class="biz-card" ng-repeat="item in filteredResults | orderBy: '-rating'">
			<img ng-src="{{ item.image }}" />
			<h3 class="biz-card-rating">{{ item.rating }}<i class="fa fa-star"></i></h3>
			<h3>{{ item.name }}</h3>
			<a ng-href="{{ item.foursquareUrl }}" ng-show="item.foursquareRating">
				<div class="foursquareRating">{{ item.foursquareRating }}<i class="fa fa-foursquare"></i></div>
			</a>
			<a ng-href="{{ item.yelpUrl }}">
				<div class="yelpRating">{{ item.yelpRating }}<i class="fa fa-yelp"></i></div>
			</a>
			<p>{{ item.address }}</p>
			<p>{{ item.reviewCount }} reviews</p>
			<ul class="categories">
				<li ng-repeat="category in item.categories">{{ category[0] }}</li>
			</ul>
		</div>
<!-- 		<h1>FourSquare</h1>
		<div class="biz-card" ng-repeat="item in results.Foursquare">
			<img ng-src="{{ item.img }}"/>
			<h3>{{ item.name }}</h3>
			<div class="foursquareRating">{{ item.rating }}<i class="fa fa-foursquare"></i></div>
			<p>{{ item.address }}</p>
			<p>{{ item.rating }}</p>
			<p>Reviews: {{ item.reviewCount }}</p>
		</div> -->
	</div>
</div>

<div class="other">
	<div ui-view></div>
</div>
