body {
  margin-top: 0px;
  font-family: 'Open Sans', arial, sans-serif;
  background-color: #f9f9f9;
  text-align: center;
}

nav {
	width: 100%;
	height: 40px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #e5e5e5;
	margin-top: 0px;
}

nav h1 {
	margin: 0px;
	padding: 3px;
}



.neighborhoods {
	width: 90%;
	margin: 10px auto;
}

.neighborhoodTile {
	float: left;
	color: #fff;
	padding: 5% 2%;
	margin: 0%;
	height: 60px;
	width: 20.5%;
	border: 1px solid #fff;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	cursor: pointer;
	position: relative;
}

.neighborhoodTile h1 {
	padding-top: 15%;
}

.layer {
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.neighborhoods div:hover {
	opacity: 0.5;
}


.other {
	clear: both;
}

.options {
	width: 90%;
	clear: both;
	margin: 10px auto;
}

.optionsTile {
	float: left;
	color: #fff;
	padding: 5% 2%;
	margin: 0%;
	height: 60px;
	width: 20.5%;
	border: 1px solid #fff;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	cursor: pointer;
	position: relative;
}

.optionsTile h1 {
	padding-top: 15%;
}

.options div:hover {
	opacity: 0.5;
}

.results {
	width: 90%;
	clear: both;
	margin: 10px auto;
}

.results-container {
	width: 40%;
	float: left;
}

.biz-card h3, p {
	margin: 5px;
}

.biz-card {
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	margin: 5px;
	text-align: left;
	padding: 5px;
}

.biz-card:hover {
	opacity: 0.5;
}

.biz-card img {
	margin: 5px 20px 5px 5px;
	float: left;
	height: 80px;
}

#map-container {
	width: 57%;
	position: fixed;
	margin-left: 36%;

}

#map {
	height: 500px;
}
